@charset "UTF-8";
#lsdv .breadcrumb {
  padding: 20px 0;
  font: 1em "Noto Sans TC", sans-serif;
  line-height: 1em;
}
#lsdv .breadcrumb a, #lsdv .breadcrumb span, #lsdv .breadcrumb h1, #lsdv .breadcrumb > .active {
  display: inline;
  font-size: 1em;
  text-decoration: none;
}
#lsdv .breadcrumb > li {
  display: inline-block;
}
#lsdv .breadcrumb > li:first-of-type::before {
  content: "←";
  padding-right: 5px;
}
#lsdv .breadcrumb > li + li:before {
  padding: 0 10px;
  content: "/";
  color: #969696;
}
#lsdv .article-inner {
  padding: 15px 15px 40px;
  text-decoration: none;
}
#lsdv .article-item {
  padding: 10px;
}
#lsdv .article-top {
  position: relative;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
#lsdv .article-img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#lsdv .article-tag {
  padding: 2px 8px;
  font-size: 0.7em;
  border-radius: 10px;
  background: #595959;
  color: white;
}
#lsdv .article-title {
  padding: 5px 0;
  font-weight: 600;
  font-size: 1.2em;
  color: #1c1c1c;
}
#lsdv .article-desc {
  color: #969696;
}
#lsdv .pagination-group {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#lsdv .pagination-right .arrow {
  transform: rotate(180deg);
}
#lsdv .pagination .arrow {
  width: 15px;
  height: 15px;
}
#lsdv .icons {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-size: cover;
}
#lsdv .icons-arrow {
  cursor: pointer;
  background: url(../component/images/icons-arrow.svg) no-repeat center;
}
#lsdv .icons-arrow.top {
  transform: rotate(90deg);
}
#lsdv .icons-arrow.bottom {
  transform: rotate(-90deg);
}
#lsdv .icons-arrow.right {
  transform: rotate(-180deg);
}
#lsdv .icons-upload {
  background: url(../component/images/icons-upload.svg) no-repeat center;
}
#lsdv .icons-delete {
  background: url(../component/images/icons-delete.svg) no-repeat center;
}
#lsdv .articleTitle {
  position: relative;
}
#lsdv .articleTitle-banner {
  width: 100%;
  height: 350px;
  -o-object-position: top center;
     object-position: top center;
  -o-object-fit: cover;
     object-fit: cover;
}
#lsdv .articleTitle-txt {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 8px;
  color: white;
}
#lsdv .categorymMenu {
  display: none;
}
@media (min-width: 1200px) {
  #lsdv .categorymMenu {
    display: block;
  }
}
#lsdv .categorymMenu-m:hover .categorymMenu-lists {
  display: block;
}
@media (min-width: 1200px) {
  #lsdv .categorymMenu-m {
    display: none;
  }
}
#lsdv .categorymMenu-title {
  padding: 12px;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px dashed #e4e4e4;
}
#lsdv .categorymMenu-lists {
  display: none;
  position: absolute;
  z-index: 9;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 #dddddd;
  background: white;
}
@media (min-width: 1200px) {
  #lsdv .categorymMenu-lists {
    display: block;
    width: 90%;
    position: relative;
  }
}
#lsdv .categorymMenu-item {
  display: block;
  padding: 12px 10px;
  text-decoration: none;
}
#lsdv .categorymMenu-item.active {
  color: #0057ff;
}
#lsdv .categorymMenu-selectItem {
  padding: 12px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}
#lsdv .categorymMenu-selectItem::after {
  content: url(../component/images/icons-arrow.svg);
  position: absolute;
  right: 12px;
  transform: rotate(-90deg);
}
#lsdv .categorymSubMenu {
  padding-top: 20px;
}
@media (min-width: 1200px) {
  #lsdv .categorymSubMenu {
    padding-top: 0;
  }
}
#lsdv .categorymSubMenu-item {
  display: inline-block;
  margin: 0 8px 10px 0;
  padding: 5px 15px;
  border-radius: 35px;
  border: 1px solid #e4e4e4;
  text-decoration: none;
}
#lsdv .categorymSubMenu-item.active {
  color: #e4e4e4;
  background: #0057ff;
  border-color: #0057ff;
}
#lsdv .article {
  margin-bottom: 50px;
}/*# sourceMappingURL=article.css.map */