@charset "UTF-8";
#lsdv .breadcrumb {
  padding: 20px 0;
  font: 1em "Noto Sans TC", sans-serif;
  line-height: 1em;
}
#lsdv .breadcrumb a, #lsdv .breadcrumb span, #lsdv .breadcrumb h1, #lsdv .breadcrumb > .active {
  display: inline;
  font-size: 1em;
  text-decoration: none;
}
#lsdv .breadcrumb > li {
  display: inline-block;
}
#lsdv .breadcrumb > li:first-of-type::before {
  content: "←";
  padding-right: 5px;
}
#lsdv .breadcrumb > li + li:before {
  padding: 0 10px;
  content: "/";
  color: #969696;
}
#lsdv .article-inner {
  padding: 15px 15px 40px;
  text-decoration: none;
}
#lsdv .article-item {
  padding: 10px;
}
#lsdv .article-top {
  position: relative;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
#lsdv .article-img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#lsdv .article-tag {
  padding: 2px 8px;
  font-size: 0.7em;
  border-radius: 10px;
  background: #595959;
  color: white;
}
#lsdv .article-title {
  padding: 5px 0;
  font-weight: 600;
  font-size: 1.2em;
  color: #1c1c1c;
}
#lsdv .article-desc {
  color: #969696;
}
#lsdv .pagination-group {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#lsdv .pagination-right .arrow {
  transform: rotate(180deg);
}
#lsdv .pagination .arrow {
  width: 15px;
  height: 15px;
}
#lsdv .icons {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-size: cover;
}
#lsdv .icons-arrow {
  cursor: pointer;
  background: url(../component/images/icons-arrow.svg) no-repeat center;
}
#lsdv .icons-arrow.top {
  transform: rotate(90deg);
}
#lsdv .icons-arrow.bottom {
  transform: rotate(-90deg);
}
#lsdv .icons-arrow.right {
  transform: rotate(-180deg);
}
#lsdv .icons-upload {
  background: url(../component/images/icons-upload.svg) no-repeat center;
}
#lsdv .icons-delete {
  background: url(../component/images/icons-delete.svg) no-repeat center;
}
#lsdv .contribute-uploadPhoto {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}
@media (min-width: 992px) {
  #lsdv .contribute-uploadPhoto {
    width: calc(50% - 12px);
  }
}
@media (min-width: 992px) {
  #lsdv .contribute-uploadPhoto:nth-child(even) {
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  #lsdv .contribute-uploadPhoto:nth-child(odd) {
    margin-right: 10px;
  }
}
#lsdv .contribute-uploadPhoto-left {
  display: flex;
  align-items: center;
}
#lsdv .contribute-uploadPhoto-img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
#lsdv .contribute-uploadPhoto-fileSize {
  margin-top: 8px;
  padding: 2px 5px;
  color: #969696;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  font-size: 0.9em;
}
#lsdv .contribute-introduction {
  padding: 40px 0 20px;
  color: #969696;
}
#lsdv .contribute-floor {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  #lsdv .contribute-floor {
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
#lsdv .contribute-title {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px dashed #e4e4e4;
  font-size: 1.2em;
  font-weight: 600;
}
#lsdv .contribute-title .icons-arrow {
  position: absolute;
  right: 30px;
}
#lsdv .contribute-title::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 20px;
  margin-right: 10px;
  background: #0057ff;
  border-radius: 20px;
}
#lsdv .contribute-content {
  padding: 20px;
}
#lsdv .contribute-content .form-group {
  padding: 0 10px;
}
#lsdv .contribute-btn {
  margin-bottom: 50px;
  text-align: center;
}
#lsdv .contribute-btn .btn {
  width: 40%;
}
@media (min-width: 992px) {
  #lsdv .contribute-btn .btn {
    width: 15%;
  }
}
#lsdv .contribute-btn .btn:first-child {
  margin-right: 10px;
}
#lsdv .contribute-btn .btn:last-child {
  margin-left: 10px;
}/*# sourceMappingURL=contribute.css.map */