#lsdv .part {
  margin-top: 60px;
}
#lsdv .part-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: 600;
  font-size: 1.7em;
  color: #1c1c1c;
}
#lsdv .part-title::after {
  content: "";
  display: block;
  position: relative;
  top: 7px;
  width: 100%;
  height: 5px;
  background: #0057ff;
}
#lsdv .video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
}
@media (min-width: 480px) {
  #lsdv .video {
    height: 800px;
  }
}
#lsdv .video-inner {
  position: relative;
  padding: 0 20px;
}
@media (min-width: 1200px) {
  #lsdv .video-inner {
    padding: 0;
  }
}
#lsdv .video-content {
  padding: 120px 0;
}
@media (min-width: 480px) {
  #lsdv .video-content {
    padding: 220px 0;
  }
}
#lsdv .video-content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.6);
}
@media (min-width: 480px) {
  #lsdv .video-content::before {
    height: 800px;
  }
}
#lsdv .video-content-title {
  padding-bottom: 15px;
  color: white;
  font-size: 60px;
  line-height: 70px;
  font-weight: 100;
}
@media (min-width: 480px) {
  #lsdv .video-content-title {
    font-size: 80px;
    line-height: 90px;
  }
}
#lsdv .video-content-promote {
  margin: 10px 0;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
#lsdv .video-content-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-top: 20px;
}
#lsdv .contribute {
  display: flex;
  align-items: center;
  margin: 60px 0;
  padding: 0 20px;
  height: 400px;
  background: url(../images/banner-index.jpg) no-repeat top center;
  background-size: cover;
  color: white;
  line-height: 1.8em;
}
@media (min-width: 1200px) {
  #lsdv .contribute {
    height: 344px;
  }
}
#lsdv .article-inner {
  padding: 15px 15px 40px;
  text-decoration: none;
}
#lsdv .article-item {
  padding: 10px;
}
#lsdv .article-top {
  position: relative;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
#lsdv .article-img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#lsdv .article-tag {
  padding: 2px 8px;
  font-size: 0.7em;
  border-radius: 10px;
  background: #595959;
  color: white;
}
#lsdv .article-title {
  padding: 5px 0;
  font-weight: 600;
  font-size: 1.2em;
  color: #1c1c1c;
}
#lsdv .article-desc {
  color: #969696;
}
#lsdv .taxonomy {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  padding: 20px 0;
}
#lsdv .taxonomy::-webkit-scrollbar {
  width: 0;
  height: 8px;
}
#lsdv .taxonomy::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 8px;
}
#lsdv .taxonomy::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
#lsdv .taxonomy-inner {
  display: flex;
  align-items: center;
}
#lsdv .taxonomy-item {
  position: relative;
  width: 292px;
  padding: 25px;
  text-align: center;
}
#lsdv .taxonomy-img {
  max-width: 100%;
  border-radius: 50%;
}
#lsdv .taxonomy-textGroup {
  position: absolute;
  top: calc((100% - 48px) / 2);
  left: calc((100% - 76px) / 2);
  color: white;
  font-size: 1.2em;
  text-shadow: 0 0 1em white;
}
#lsdv .referenceGroup {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  padding: 20px 0;
}
#lsdv .referenceGroup::-webkit-scrollbar {
  width: 0;
  height: 8px;
}
#lsdv .referenceGroup::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 8px;
}
#lsdv .referenceGroup::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
#lsdv .referenceGroup-extra {
  margin: 60px 0 0;
  background: #f7f7f7;
}
#lsdv .referenceGroup-inner {
  display: flex;
  align-items: center;
}
#lsdv .referenceGroup-item {
  width: 292px;
  padding: 0 10px;
  text-align: center;
}
#lsdv .referenceGroup-img {
  max-width: 100%;
}
#lsdv .header:not(.js-hdFixed-in) {
  background: transparent;
}
#lsdv .header:not(.js-hdFixed-in) .logo-img,
#lsdv .header:not(.js-hdFixed-in) .mainNAV .burgerBtn .menu-img,
#lsdv .header:not(.js-hdFixed-in) .search-img {
  fill: white;
}
#lsdv .header:not(.js-hdFixed-in) .search-form {
  color: white;
}
#lsdv .header:not(.js-hdFixed-in) .search-form::-webkit-input-placeholder {
  color: white;
}
#lsdv .header:not(.js-hdFixed-in) .search-form::-moz-input-placeholder {
  color: white;
}
#lsdv .header:not(.js-hdFixed-in) .search-form::-ms-input-placeholder {
  color: white;
}
#lsdv .header:not(.js-hdFixed-in) .search-form::-o-input-placeholder {
  color: white;
}
#lsdv .header:not(.js-hdFixed-in) .search-form::input-placeholder {
  color: white;
}
#lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
#lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-moz-input-placeholder {
  opacity: 0.5;
}
#lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-ms-input-placeholder {
  opacity: 0.5;
}
#lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-o-input-placeholder {
  opacity: 0.5;
}
#lsdv .header:not(.js-hdFixed-in) .search-form input:focus::input-placeholder {
  opacity: 0.5;
}
@media (min-width: 1200px) {
  #lsdv .header:not(.js-hdFixed-in) .sideNav-lists {
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .bn-out {
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .bn-out:hover, #lsdv .header:not(.js-hdFixed-in) .bn-out:focus {
    background: #333333;
    -pie-background: #333333;
    border: 1px solid #e4e4e4;
  }
  #lsdv .header:not(.js-hdFixed-in) .search {
    padding-right: 10px;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form {
    background: #6e6e6e;
    border-color: #6e6e6e;
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form::-webkit-input-placeholder {
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form::-moz-input-placeholder {
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form::-ms-input-placeholder {
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form::-o-input-placeholder {
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form::input-placeholder {
    color: white;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-webkit-input-placeholder {
    opacity: 0.5;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-moz-input-placeholder {
    opacity: 0.5;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-ms-input-placeholder {
    opacity: 0.5;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form input:focus::-o-input-placeholder {
    opacity: 0.5;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-form input:focus::input-placeholder {
    opacity: 0.5;
  }
  #lsdv .header:not(.js-hdFixed-in) .search-img {
    fill: white;
  }
}/*# sourceMappingURL=index.css.map */