@charset "UTF-8";
.login {
  position: relative;
  max-width: 480px;
  margin: 60px auto;
  padding: 48px 39px;
  font-size: 0.9em;
}
@media (min-width: 1200px) {
  .login {
    margin: 100px auto;
    border-radius: 12px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
.login-inner {
  padding: 30px 0 0;
}
.login-title {
  font-size: 1.7em;
  font-weight: 600;
}
.login-desc {
  color: #969696;
}
.login-thirdPartyBtn {
  padding-top: 50px;
}
.login-thirdPartyBtn::before {
  content: "或使用第三方登入";
  display: block;
  position: relative;
  top: -20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background: white;
  z-index: 9;
}
.login-thirdPartyBtn::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 1px;
  background: #d7d7d7;
}
.login-thirdPartyBtn .btn:first-of-type {
  margin-right: 10px;
  width: calc(50% - 12px);
}
.login-thirdPartyBtn .btn:last-of-type {
  margin-left: 10px;
  width: calc(50% - 12px);
}
.login-register {
  padding: 20px 0;
  text-align: center;
}
.login-forgotPassword {
  position: absolute;
  right: 0;
}
.login-captchaImg {
  width: calc(100% - 10px);
  margin-left: 10px;
  margin-top: 30px;
}
.login-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px;
  text-align: center;
  background: #f2f2f2;
}
.login-tips:hover .login-tipsDesc {
  opacity: 1;
  z-index: 9;
  transform: scale(1, 1);
}
.login-tipsTitle {
  position: absolute;
  right: 10px;
  top: 40px;
  cursor: pointer;
}
.login-tipsDesc {
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  color: white;
  background: #575757;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transform-origin: 50% 0;
  transform: scale(1, 0);
}/*# sourceMappingURL=login.css.map */