@charset "UTF-8";
#lsdv .staticMsg {
  padding: 100px 0;
  text-align: center;
}
#lsdv .staticMsg-img {
  margin: 0 auto;
}
#lsdv .staticMsg-title {
  font-size: 1.7em;
  font-family: futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
#lsdv .staticMsg-btn {
  padding-top: 30px;
}
#lsdv .staticMsg-btn::before {
  content: "您可以";
}/*# sourceMappingURL=staticMsg.css.map */