.article
  &-inner
    padding: 15px 15px 40px
    text-decoration: none
  &-item
    padding: 10px
  &-top
    position: relative
    margin-bottom: 10px
    border-radius: 20px
    overflow: hidden
    text-align: center
  &-img
    max-width: 100%
    object-fit: cover
  &-tag
    padding: 2px 8px
    font-size: $font-size-xs
    border-radius: 10px
    background: darken($WHITEcolor, 65%)
    color: darken($WHITEcolor, 0%)
  &-title
    padding: 5px 0
    font-weight: 600
    font-size: $font-size-md
    color: darken($WHITEcolor, 89%)
  &-desc
    color: darken($WHITEcolor, 41%)
