.breadcrumb
	padding: 20px 0
	+fontT($font-size)
	a, span, h1, >.active
		display: inline
		font-size: $font-size
		text-decoration: none
	> li
		display: inline-block
		&:first-of-type
			&::before
				content: "←"
				padding-right: 5px
	>li+li:before
		padding: 0 10px
		content: "/"
		color: darken($WHITEcolor, 41%)
