.footer
  background: darken($WHITEcolor, 0%)
  color: darken($WHITEcolor, 41%)
  +fontT-sm(1.5em)
  letter-spacing: 0.02em
  .footerList
    padding: 30px 20px
    @media (min-width: $screen-sm)
      display: flex
      align-items: center
      padding: 30px 0
