.icon-circle-up
	cursor: pointer
	&:before
		font-size: $font-size-lg + 0.8em
		color: darken($WHITEcolor, 30%)
.viewedList-float-has
	.icon-circle-up
		span
			color: darken($WHITEcolor, 0%)
			font: $font-size-sm $font-family-pri
		@media (min-width: $screen-lg + 136px)
			+distanceMP(5px,5px)
			text-align: center
			color: darken($WHITEcolor, 0%)
			background: darken($WHITEcolor, 100%)
		@media (min-width: $screen-xxs) and (max-width: $screen-lg + 135px)
			span
				font-size: 0
		&:before
			font-size: 0
			@media (min-width: $screen-xxs) and (max-width: $screen-lg + 135px)
				font-size: $font-size-lg + 0.8em
				color: darken($WHITEcolor, 30%)
			@media (min-width: $screen-lg + 136px)
				content: ""
