.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5,
.col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5,
.col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5,
.col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5
	position: relative
	min-height: 2px
	float: left
.col-xs-1-5
	width: 20%
.col-xs-2-5
	width: 40%
.col-xs-3-5
	width: 60%
.col-xs-4-5
	width: 80%
.col-xs-push-1-5
	left: 20%
.col-xs-push-2-5
	left: 40%
.col-xs-push-3-5
	left: 60%
.col-xs-push-4-5
	left: 80%
.col-xs-pull-1-5
	right: 20%
.col-xs-pull-2-5
	right: 40%
.col-xs-pull-3-5
	right: 60%
.col-xs-pull-4-5
	right: 80%
@media (min-width: 768px)
	.col-sm-1-5
		width: 20%
	.col-sm-2-5
		width: 40%
	.col-sm-3-5
		width: 60%
	.col-sm-4-5
		width: 80%
	.col-sm-push-1-5
		left: 20%
	.col-sm-push-2-5
		left: 40%
	.col-sm-push-3-5
		left: 60%
	.col-sm-push-4-5
		left: 80%
	.col-sm-pull-1-5
		right: 20%
	.col-sm-pull-2-5
		right: 40%
	.col-sm-pull-3-5
		right: 60%
	.col-sm-pull-4-5
		right: 80%
@media (min-width: 992px)
	.col-md-1-5
		width: 20%
	.col-md-2-5
		width: 40%
	.col-md-3-5
		width: 60%
	.col-md-4-5
		width: 80%
	.col-md-push-1-5
		left: 20%
	.col-md-push-2-5
		left: 40%
	.col-md-push-3-5
		left: 60%
	.col-md-push-4-5
		left: 80%
	.col-md-pull-1-5
		right: 20%
	.col-md-pull-2-5
		right: 40%
	.col-md-pull-3-5
		right: 60%
	.col-md-pull-4-5
		right: 80%
@media (min-width: 1200px)
	.col-lg-1-5
		width: 20%
	.col-lg-2-5
		width: 40%
	.col-lg-3-5
		width: 60%
	.col-lg-4-5
		width: 80%
	.col-lg-push-1-5
		left: 20%
	.col-lg-push-2-5
		left: 40%
	.col-lg-push-3-5
		left: 60%
	.col-lg-push-4-5
		left: 80%
	.col-lg-pull-1-5
		right: 20%
	.col-lg-pull-2-5
		right: 40%
	.col-lg-pull-3-5
		right: 60%
	.col-lg-pull-4-5
		right: 80%