.js-hdFixed-in
  background: darken($WHITEcolor, 6%)
#js-searchBar
  height: 0
  +transition(all 0.2s ease)
  +transform-origin(50% 0)
  +transform(scaleY(0))
  &.js-searchBar-open
    height: inherit
    +transform(scaleY(1))

.header
  position: fixed
  top: 0
  width: 100%
  padding: 20px 0 5px
  +transition(all 0.5s ease)
  z-index: $zindex-floor
  background: darken($WHITEcolor, 0%)
  &-group-right
    padding-top: 5px
  .container-fluid
    position: relative
    &:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden
  .logo
    padding: 5px 20px
    @media (min-width: $screen-lg)
      padding: 5px 0
    &-img
      width: 120px
  .search
    padding: 10px 0
    @media (min-width: 1200px)
      padding: 0 10px 0 0
    &-form
      height: 32px
      padding: 3px 35px 3px 10px
      border-color: darken($WHITEcolor, 10.5%)
      border-radius: 4px
      @media (min-width: 1200px)
        border-radius: 35px
        height: auto
      &:focus,&:hover
        +box-shadow(none)
        border-color: darken($WHITEcolor, 10.5%)
        outline: none
    &-btn
      position: absolute
      top: 10px
      right: 5px
      cursor: pointer
      @media (min-width: 1200px)
        top: 0
        right: 15px
    &-img
      width: 23px
      height: 23px
      fill: darken($WHITEcolor, 48%)
      @media (min-width: 1200px)
        width: 20px
        height: 20px
    &-m
      cursor: pointer
      text-align: right
      .search-img
        width: 40px
        height: 40px
