不需要變色使用的
.icons
  display: inline-block
  width: 18px
  height: 18px
  margin-right: 5px
  background-size: cover
  &-arrow
    cursor: pointer
    // 箭頭向左 <
    background: url(../component/images/icons-arrow.svg) no-repeat center
    // 箭頭向下
    &.top
      transform: rotate(90deg)
    // 箭頭向下
    &.bottom
      transform: rotate(-90deg)
    // 箭頭向右 >
    &.right
      transform: rotate(-180deg)
  &-upload
    background: url(../component/images/icons-upload.svg) no-repeat center
  &-delete
    background: url(../component/images/icons-delete.svg) no-repeat center
