@mixin login-s
	+distanceMP(20px auto,0)
	+fontT(1.3em)
	color: darken($WHITEcolor, 70%)
	@media (min-width: $screen-lg)
		+distanceMP(0 auto 60px,0 20px)
		width: 70%
		border: 10px solid darken($WHITEcolor, 10%)
		border-radius: 25px
@mixin login-ds
	+distanceMP(20px auto,0)
	+fontT
	color: darken($WHITEcolor, 70%)
	@media (min-width: $screen-lg)
		height: 626px
		background: url(/images/login_bg.png) top center no-repeat
	.col-lg-5
		@media (min-width: $screen-lg)
			padding: 0 15px
	// 訂閱選項
	.login-options
		margin: 5px 0 15px
		p
			+distanceMP(0,5px)
			color: $CIScolorA
		li
			width: 50%
			float: left
			padding: 0 0 0 10px
	// 填寫資料
	&.info
		.login-title
			color: darken($WHITEcolor, 50%)
			small
				display: block
				color: $CIScolorA
				font-size: 38%
				line-height: $font-size-md + 0.2em
@mixin login
	@include login-s
@mixin login
	@include login-ds

.login
	// 標題
	.login-title
		+distanceMP(0,40px 0 29px 100px)
		color: $CIScolorA
		font-size: 2.5em
		line-height: $font-size-md
		font-weight: bold
		@media (max-width: $screen-lg - 1px)
			display: none
	// 共用表單
	.form-group
		position: relative
		margin-bottom: 10px
	// 文字
	.txt
		+distanceMP(0,3px)
		@media (min-width: $screen-sm)
			padding: 9px 10px
	.form-control
		padding: 8px 10px
		display: inline
		color: darken($WHITEcolor, 35%)
	// icon
	.login-icon
		position: absolute
		right: 10px
		top: 13px
		color: darken($WHITEcolor, 10%)
	.btn-group-justified
		text-align: center
		.btn
			width: calc(50% - 10px)
			@media (min-width: $screen-sm)
				width: calc(50% - 40px)
				margin: 20px 10px
	// 會員登入+放棄領取
	.bn-Pay, .bn-out, .bn-fb
		line-height: 1.2em
		@media (min-width: $screen-sm)
			font-size: 1.5em
		@media (max-width: 320px)
			padding: 10px 0
			font-size: 1rem
	// FB
	.bn-fb
		background: $FBcolor
		color: $WHITEcolor
	// 帳號不正確警告窗
	.has-warning
		position: relative
		top: 3px
		display: inline
		+distanceMP(0 50px,0 5px)
		color: $WHITEcolor
		border-radius: 5px
		text-align: center
		animation: fixedNavDown 1s
		animation-iteration-count: 1
		&:after
			content: ""
			position: absolute
			top: -5px
			left: 20px
			border-left: 5px solid transparent
			border-right: 5px solid transparent
			border-bottom: 5px solid $REDcolor
	.ps
		margin-top: 30px
		padding: 30px 0
		border-top: 1px solid darken($WHITEcolor, 10%)
		text-align: center
		clear: both