// 核心變數+混合設定
@import _variables
@import _minxins
.fade
  opacity: 0
  -webkit-transition: opacity .15s linear
  transition: opacity .15s linear
.fade.in
  opacity: 1
.modal-open
  overflow: hidden
.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1040
  display: none
  overflow: auto
  overflow-y: scroll
.modal.fade .modal-dialog
  -webkit-transform: translate(0, -25%)
  -ms-transform: translate(0, -25%)
  transform: translate(0, -25%)
  -webkit-transition: -webkit-transform .3s ease-out
  -moz-transition: -moz-transform .3s ease-out
  -o-transition: -o-transform .3s ease-out
  transition: transform .3s ease-out

.modal.in .modal-dialog
  -webkit-transform: translate(0, 0)
  -ms-transform: translate(0, 0)
  transform: translate(0, 0)
.modal-dialog
  position: relative
  z-index: 1050
  width: auto
  margin: 10px
.modal-content
  position: relative
  padding: 35px
  +box-shadow(0 3px 9px rgba(0, 0, 0, 0.5))
  background: lighten($BLACKcolor, 96%)
  background-clip: padding-box
  color: darken($WHITEcolor, 0%)
.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1030
  background-color: #000

.modal-backdrop.fade
  opacity: 0
  filter: alpha(opacity=0)
.modal-backdrop.in
  opacity: .7
  filter: alpha(opacity=70)
.modal-header
  min-height: 16.428571429px
  padding: 15px
  border-bottom: 1px solid #e5e5e5

.modal-header .close
  margin-top: -2px

.modal-title
  margin: 0
  line-height: 1.428571429
.modal-body
  position: relative
  padding: 20px

// Footer (for actions)
.modal-footer
  padding: 19px 20px 20px
  margin-top: 15px
  text-align: right
  border-top: 1px solid #e5e5e5
.modal-footer:before, .modal-footer:after
  display: table
  content: " "
.modal-footer:after
  clear: both
.modal-footer:before, .modal-footer:after
  display: table
  content: " "
.modal-footer:after
  clear: both
@media screen and (min-width:768px)
  .modal-dialog
    width: 600px
    margin: 300px auto
  .modal-content
    -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5)
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5)
.modal
  .icon-cross
    position: absolute
    top: 10px
    right: 5px
    border: 0
    background: none
    font-size: $font-size-lg + 0.6em
    color: darken($WHITEcolor, 50%)

  .modal-title
    padding: 15px 0
    font-size: 2.5em
    border-bottom: 1px solid darken($WHITEcolor, 16%)
    small
      display: block
      font-size: 50%
      color: darken($WHITEcolor, 50%)
  form
    padding: 30px 0
  .form-group
    display: flex
    .col-xs-12
      padding: 10px
      align-self: center
  .btn-group
    width: 100%
    +distanceMP(20px auto,20px 0)
    text-align: center
    border-top: 1px solid darken($WHITEcolor, 16%)
