.overlay
  position: fixed
  z-index: $zindex-basement
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  background: rgba(0,0,0,0.7)
  pointer-events: none
  opacity: 0
.js-overlay-open
  z-index: $zindex-navbar-background
  pointer-events: auto
  opacity: 1
