// 共用
.mainNAV
  position: relative
  height: 100%
  text-align: right
  .burgerBtn
    .menu-img
      width: 40px
      height: 40px
      fill: darken($WHITEcolor, 48%)
  @media (min-width: $screen-lg)
    .burgerBtn
      display: none

.sideNav
  z-index: $zindex-navbar
  text-align: left
  &-backArrow
    display: none
    position: absolute
    top: 17px
    left: 0
  &-lists
    position: relative
    cursor: pointer
  .listItem
    &-item
      a
        display: block
        width: 100%
        +distanceMP(0,18px 0)
        color: darken($WHITEcolor, 89%)
        text-decoration: none
        @media (min-width: $screen-lg)
          padding: 0
        &:hover
          color: $CIScolorA

// mobile
@media (min-width: $screen-xxs) and (max-width: $screen-lg - 1px)
  .sideNav
    position: fixed
    right: -105%
    top: 0
    width: 70%
    height: 100vh
    +distanceMP(0,0)
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    background: darken($WHITEcolor, 6%)
    +transition(all 1s)
    &-list
      position: relative
      width: calc( 100% - 40px )
      float: left
      +distanceMP(0 20px,18px 0)
      color: darken($WHITEcolor, 100%)
      border-bottom: 1px solid darken($WHITEcolor, 10.3%)
      &:first-of-type
        width: 100%
        +distanceMP(0,18px 20px)
        background: darken($WHITEcolor, 9%)
        font-weight: 600
        font-size: $font-size-md
    &-lists
      width: calc( 100% - 40px )
      float: left
      +distanceMP(0 20px,18px 0)
      color: darken($WHITEcolor, 100%)
      border-bottom: 1px solid darken($WHITEcolor, 10.3%)
      .listItem
        position: absolute
        left: 0
        width: 100%
        height: auto
        opacity: 0
        float: left
        +distanceMP(0,0)
        margin-top: 20px
        padding-bottom: 20px
        background: darken($WHITEcolor, 6%)
        &-item
          border-bottom: 1px solid darken($WHITEcolor, 10.3%)
          font-weight: 500
          font-size: $font-size-sm
    .js-sideNavLists-in
      position: fixed
      height: 100vh
      z-index: 9
      overflow: auto
      padding-left: 30px
      font-weight: 600
      background: darken($WHITEcolor, 9%)
      font-size: $font-size-md
      .sideNav-backArrow
        display: inline
      .listItem
        height: 100%
        opacity: 1

// PC
@media (min-width: $screen-lg)
  .sideNav
    margin: 0
    height: auto
    text-align: center
    &-lists
      display: inline-block
      +distanceMP(8px 0,0 15px)
      letter-spacing: 0.05em
      text-align: center
      border-right: 1px solid darken($WHITEcolor, 10.5%)
      color: darken($WHITEcolor, 41%)
      &::after
        content: ''
        position: absolute
        left: calc(30% / 2)
        bottom: -8px
        display: block
        width: 70%
        height: 2px
        background: transparent
      .listItem
        position: absolute
        top: 40px
        left: 0
        opacity: 0
        z-index: $zindex-basement
        +transition(all 0.5s ease)
        +transform-origin(12.5% 0)
        +transform(scale(1,0))
        border-radius: 8px
        background: darken($WHITEcolor, 4%)
        +distanceMP(0 ,20px 15px)
        width: 200px
        overflow: hidden
        float: left
        text-align: left
        &-item
          display: block
          position: relative
          border: 0
          text-align: left
          +fontT-sm(2em)
      &:hover
        color: $CIScolorA
        &::after
          background: $CIScolorA
        .listItem
          opacity: 1
          z-index: $zindex-floor
          +transform(scale(1,1))
