.js-youtube
	position: relative
	+distanceMP(15px 0,0 0 59%)
	@media (min-width: $screen-lg)
		+distanceMP(15px,0 0 59%)
	iframe, embed, object
		position: absolute
		top: 0
		width: 100%
		height: 100%
	.block-control
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
	.control
		div:first-child
			width: 100%
			height: 100%
			cursor: pointer
			position: absolute
	.icon-cross
		font-size: $font-size-lg + 0.6em
		cursor: pointer
		position: fixed
		top: 20px
		right: 20px
		color: darken($WHITEcolor, 0%)
.youtube-title
	position: absolute
	width: 100%
	bottom: 0
	opacity: 0.85
	background: darken($WHITEcolor, 100%)
	h2
		+distanceMP(0,10px 0)
		color: darken($WHITEcolor, 0%)
		+fontT
		text-align: center
.js-youtube-open
	width: 100vh
	height: 50%
	position: fixed
	top: 10%
	left: 0
	right: 0
	margin: 0 auto
	z-index: 999999
	iframe, embed, object
		position: fixed
		right: 0
		left: 0
		top: 10%
		margin: 0 auto
		width: 80%
		height: 80%
	.youtube-title
		display: none
@media (min-width: $screen-xxs) and (max-width: $screen-lg - 1px)
	.openYoutube
		width: auto
		top: 0
		iframe, embed, object
			width: 100%
			height: 100%
			top: 0