// 核心變數+混合設定
@import _variables
@import _minxins

#lsdv
  @import _breadcrumb
  @import _article
  @import _pagination
  @import _icons

  .articleTitle
    position: relative
    &-banner
      width: 100%
      height: 350px
      object-position: top center
      object-fit: cover
    &-txt
      position: absolute
      top: 50%
      left: 25%
      width: 50%
      font-size: $font-size-lg
      text-align: center
      letter-spacing: 8px
      color: darken($WHITEcolor, 0%)

  .categorymMenu
    display: none
    @media (min-width: $screen-lg)
      display: block
    &-m
      &:hover
        .categorymMenu-lists
          display: block
      @media (min-width: $screen-lg)
        display: none
    &-title
      padding: 12px
      margin-bottom: 5px
      font-size: $font-size-md
      font-weight: 600
      border-bottom: 1px dashed darken($WHITEcolor, 10.5%)
    &-lists
      display: none
      position: absolute
      z-index: $zindex-floor
      width: 100%
      padding: 12px
      border-radius: 8px
      +box-shadow(0 0 15px 0 darken($WHITEcolor, 13.5%))
      background: darken($WHITEcolor, 0%)
      @media (min-width: $screen-lg)
        display: block
        width: 90%
        position: relative
    &-item
      display: block
      padding: 12px 10px
      text-decoration: none
      &.active
        color: $CIScolorA
    &-selectItem
      padding: 12px
      border: 1px solid darken($WHITEcolor, 10.5%)
      border-radius: 8px
      background: darken($WHITEcolor, 0%)
      cursor: pointer
      &::after
        content: url(../component/images/icons-arrow.svg)
        position: absolute
        right: 12px
        transform: rotate(-90deg)

  .categorymSubMenu
    padding-top: 20px
    @media (min-width: $screen-lg)
      padding-top: 0
    &-item
      display: inline-block
      +distanceMP(0 8px 10px 0, 5px 15px)
      border-radius: 35px
      border: 1px solid darken($WHITEcolor, 10.5%)
      text-decoration: none
      &.active
        color: darken($WHITEcolor, 10.5%)
        background: $CIScolorA
        border-color: $CIScolorA

  .article
    margin-bottom: 50px
