// 核心變數+混合設定
@import _variables
@import _minxins

#lsdv
  @import _breadcrumb
  @import _article
  @import _pagination
  @import _icons

  .contribute
    &-uploadPhoto
      display: inline-flex
      align-items: center
      justify-content: space-between
      margin-bottom: 20px
      padding: 10px
      width: 100%
      border: 1px solid darken($WHITEcolor, 10.5%)
      border-radius: 4px
      @media (min-width: $screen-md)
        width: calc(50% - 12px)
      &:nth-child(even)
        @media (min-width: $screen-md)
          margin-left: 10px
      &:nth-child(odd)
        @media (min-width: $screen-md)
          margin-right: 10px
      &-left
        display: flex
        align-items: center
      &-right
        //
      &-img
        width: 80px
        height: 80px
        margin-right: 10px
        object-fit: contain
      &-fileSize
        margin-top: 8px
        padding: 2px 5px
        color: darken($WHITEcolor, 41%)
        border: 1px solid darken($WHITEcolor, 10.5%)
        border-radius: 4px
        font-size: $font-size-sm
    &-introduction
      padding: 40px 0 20px
      color: darken($WHITEcolor, 41%)
    &-floor
      margin-bottom: 20px
      @media (min-width: $screen-md)
        border-radius: 8px
        +box-shadow(0 0 15px rgba(0, 0, 0, 0.2))
    &-title
      display: flex
      align-items: center
      padding: 20px
      border-bottom: 1px dashed darken($WHITEcolor, 10.5%)
      font-size: $font-size-md
      font-weight: 600
      .icons-arrow
        position: absolute
        right: 30px
      &::before
        display: inline-block
        content: ''
        width: 4px
        height: 20px
        margin-right: 10px
        background: $CIScolorA
        border-radius: 20px
    &-content
      padding: 20px
      .form-group
        padding: 0 10px
    &-btn
      margin-bottom: 50px
      text-align: center
      .btn
        width: 40%
        @media (min-width: $screen-md)
          width: 15%
        &:first-child
          margin-right: 10px
        &:last-child
          margin-left: 10px
