// 核心變數+混合設定
@import _variables
@import _minxins

#lsdv
  .part
    margin-top: 60px
    &-title
      width: fit-content
      margin: 0 auto 30px
      font-weight: 600
      font-size: $font-size-lg
      color: darken($WHITEcolor, 89%)
      &::after
        content: ''
        display: block
        position: relative
        top: 7px
        width: 100%
        height: 5px
        background: $CIScolorA
  .video
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 600px
    object-fit: cover
    object-position: top left
    @media (min-width: $screen-xs)
      height: 800px
    &-inner
      position: relative
      padding: 0 20px
      @media (min-width: $screen-lg)
        padding: 0
    &-content
      padding: 120px 0
      @media (min-width: $screen-xs)
        padding: 220px 0
      &::before
        content: ''
        position: absolute
        top: 0
        width: 100%
        height: 600px
        background: rgba(0,0,0,0.6)
        @media (min-width: $screen-xs)
          height: 800px
      &-title
        padding-bottom: 15px
        color: darken($WHITEcolor, 0%)
        font-size: 60px
        line-height: 70px
        font-weight: 100
        @media (min-width: $screen-xs)
          font-size: 80px
          line-height: 90px
      &-promote
        +distanceMP(10px 0,10px)
        width: fit-content
        color: darken($WHITEcolor, 0%)
        background: rgba(0,0,0,0.5)
      &-btn
        display: flex
        align-items: center
        justify-content: space-between
        width: 150px
        margin-top: 20px
  .contribute
    display: flex
    align-items: center
    +distanceMP(60px 0,0 20px)
    height: 400px
    background: url(../images/banner-index.jpg) no-repeat top center
    background-size: cover
    color: darken($WHITEcolor, 0%)
    line-height: 1.8em
    @media (min-width: $screen-lg)
      height: 344px
  .article
    &-inner
      padding: 15px 15px 40px
      text-decoration: none
    &-item
      padding: 10px
    &-top
      position: relative
      margin-bottom: 10px
      border-radius: 20px
      overflow: hidden
      text-align: center
    &-img
      max-width: 100%
      object-fit: cover
    &-tag
      padding: 2px 8px
      font-size: $font-size-xs
      border-radius: 10px
      background: darken($WHITEcolor, 65%)
      color: darken($WHITEcolor, 0%)
    &-title
      padding: 5px 0
      font-weight: 600
      font-size: $font-size-md
      color: darken($WHITEcolor, 89%)
    &-desc
      color: darken($WHITEcolor, 41%)
  .taxonomy
    display: flex
    align-items: center
    overflow-y: hidden
    padding: 20px 0
    &::-webkit-scrollbar
      width: 0
      height: 8px
    &::-webkit-scrollbar-thumb
      background-color: darken($WHITEcolor, 19%)
      border-radius: 8px
    &::-webkit-scrollbar-track
      background-color: darken($WHITEcolor, 5.5%)
    &-inner
      display: flex
      align-items: center
    &-item
      position: relative
      width: 292px
      padding: 25px
      text-align: center
    &-img
      max-width: 100%
      border-radius: 50%
    &-textGroup
      position: absolute
      top: calc((100% - 48px) / 2)
      left: calc((100% - 76px) / 2)
      color: darken($WHITEcolor, 0%)
      font-size: $font-size-md
      text-shadow: 0 0 1em darken($WHITEcolor, 0%)
  .referenceGroup
    display: flex
    align-items: center
    overflow-y: hidden
    padding: 20px 0
    &::-webkit-scrollbar
      width: 0
      height: 8px
    &::-webkit-scrollbar-thumb
      background-color: darken($WHITEcolor, 19%)
      border-radius: 8px
    &::-webkit-scrollbar-track
      background-color: darken($WHITEcolor, 5.5%)
    &-extra
      margin: 60px 0 0
      background: darken($WHITEcolor, 3%)
    &-inner
      display: flex
      align-items: center
    &-item
      width: 292px
      padding: 0 10px
      text-align: center
    &-img
      max-width: 100%
  .header:not(.js-hdFixed-in)
    background: transparent
    .logo-img,
    .mainNAV .burgerBtn .menu-img,
    .search-img
      fill: darken($WHITEcolor, 0%)
    .search-form
      +input-placeholder(darken($WHITEcolor, 0%))
      color: darken($WHITEcolor, 0%)
  @media (min-width: $screen-lg)
    .header:not(.js-hdFixed-in)
      .sideNav
        &-lists
          color: darken($WHITEcolor, 0%)
      .bn-out
        color: darken($WHITEcolor, 0%)
        &:hover, &:focus
          background: darken($WHITEcolor, 80%)
          -pie-background: darken($WHITEcolor, 80%)
          border: 1px solid darken($WHITEcolor, 10.5%)
      .search
        padding-right: 10px
        &-form
          background: darken($WHITEcolor, 57%)
          border-color: darken($WHITEcolor, 57%)
          color: darken($WHITEcolor, 0%)
          +input-placeholder(darken($WHITEcolor, 0%))
        &-img
          fill: darken($WHITEcolor, 0%)
