// 核心變數+混合設定
@import _variables
@import _minxins

.login
  position: relative
  max-width: 480px
  +distanceMP(60px auto, 48px 39px)
  font-size: $font-size-sm
  @media (min-width: $screen-lg)
    margin: 100px auto
    border-radius: 12px
    background: darken($WHITEcolor, 0%)
    +box-shadow(0 0 15px rgba(0, 0, 0, 0.2))
  &-inner
    padding: 30px 0 0
  &-title
    font-size: $font-size-lg
    font-weight: 600
  &-desc
    color: darken($WHITEcolor, 41%)
  &-thirdPartyBtn
    padding-top: 50px
    &::before
      content: "或使用第三方登入"
      display: block
      position: relative
      top: -20px
      width: 50%
      margin: 0 auto
      text-align: center
      background: darken($WHITEcolor, 0%)
      z-index: $zindex-floor
    &::after
      content: ""
      display: block
      position: absolute
      top: 40px
      width: 100%
      height: 1px
      background: darken($WHITEcolor, 15.5%)
    .btn
      &:first-of-type
        margin-right: 10px
        width: calc(50% - 12px)
      &:last-of-type
        margin-left: 10px
        width: calc(50% - 12px)
  &-register
    padding: 20px 0
    text-align: center
  &-forgotPassword
    position: absolute
    right: 0
  &-captchaImg
    width: calc(100% - 10px)
    margin-left: 10px
    margin-top: 30px
  &-footer
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    padding: 16px
    text-align: center
    background: darken($WHITEcolor, 5%)
  &-tips
    &:hover
      .login-tipsDesc
        opacity: 1
        z-index: $zindex-floor
        +transform(scale(1, 1))
  &-tipsTitle
    position: absolute
    right: 10px
    top: 40px
    cursor: pointer
  &-tipsDesc
    position: absolute
    padding: 5px
    border-radius: 4px
    color: darken($WHITEcolor, 0%)
    background: darken($WHITEcolor, 66%)
    position: absolute
    opacity: 0
    z-index: $zindex-basement
    +transform-origin(50% 0)
    +transform(scale(1, 0))
