// 核心變數+混合設定
@import _variables
@import _minxins

#lsdv
  .staticMsg
    padding: 100px 0
    text-align: center
    &-img
      margin: 0 auto
    &-title
      font-size: $font-size-lg
      font-family: $font-family-pri
      font-weight: 600
    &-btn
      padding-top: 30px
      &::before
        content: '您可以'
